.footer {
  position: relative;
  z-index: 7;
  border-top: 0.5rem solid #000;
  background: linear-gradient(270deg, #0b2873 0, #225df5 46.25%, #0d2d7f 99.2%);
  box-shadow: 0 9px 0 0 #000;
}

.footer__container-mini {
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem;
}

.footer__content {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.footer__top {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.footer__top-top {
  display: flex;
  align-items: flex-end;
  column-gap: 1.25rem;
}

.footer__top-top-logo {
  width: 100%;
  max-width: 27.5rem;
}

.footer__top-top-logo img {
  width: 100%;
  vertical-align: top;
}

.footer__top-social {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
  row-gap: 0.625rem;
  flex-wrap: wrap;
}

.footer__top-social-item {
  aspect-ratio: 77 / 79;
  border-radius: 50%;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 12.5rem;
}

.footer__top-social-item img {
  display: inline-block;
  width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

.footer__bottom {
  color: #fff;
  /* font-family: Kanit, sans-serif; */
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.9375rem;
}

.footer__bottom > div:nth-child(1) {
  opacity: 0.7;
}

@media (min-width: 93.125em) {
  .footer {
    padding-top: 3.125rem;
  }
  .footer__top {
    padding-bottom: 2.5rem;
  }
  .footer__top-top {
    margin-bottom: 2.5rem;
  }
  .footer__top-social-item {
    width: 4.8125rem;
  }
  .footer__bottom {
    font-size: 1.25rem;
    padding: 2.5rem 0;
  }
}

@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    padding-top: clamp(2.5rem, 2.3290598291rem + 0.8547008547vw, 3.125rem)
  ) {
    .footer {
      padding-top: clamp(2.5rem, 2.3290598291rem + 0.8547008547vw, 3.125rem);
    }
  }
}
@media (max-width: 61.99875em) {
  .footer__container-mini {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 61.99875em) {
  .footer__content {
    margin-top: -3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    padding-bottom: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem)
  ) {
    .footer__top {
      padding-bottom: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem);
    }
  }
}
@media (max-width: 61.99875em) {
  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 47.99875em) {
  .footer__top-top {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__top-social {
    justify-content: center;
  }
}
@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    width: clamp(3.375rem, 2.9818376068rem + 1.9658119658vw, 4.8125rem)
  ) {
    .footer__top-social-item {
      width: clamp(3.375rem, 2.9818376068rem + 1.9658119658vw, 4.8125rem);
    }
  }
}
@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    margin-bottom: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem)
  ) {
    .footer__top-top {
      margin-bottom: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem);
    }
  }
}
@media (max-width: 47.99875em) {
  .footer__top-top {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
.footer__top-top-logo img {
  width: 100%;
}
@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    font-size: clamp(1rem, 0.9316239316rem + 0.3418803419vw, 1.25rem)
  ) {
    .footer__bottom {
      font-size: clamp(1rem, 0.9316239316rem + 0.3418803419vw, 1.25rem);
    }
  }
}
@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    padding-bottom: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem)
  ) {
    .footer__bottom {
      padding-bottom: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem);
    }
  }
}
@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    padding-top: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem)
  ) {
    .footer__bottom {
      padding-top: clamp(1.875rem, 1.7040598291rem + 0.8547008547vw, 2.5rem);
    }
  }
}
@media (max-width: 47.99875em) {
  .footer__bottom {
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}
