.button-buy-mobile {
  flex-shrink: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.125rem;
  border: 0.1875rem solid #000;
  background-color: #225df5;
  box-shadow:
    -7px -7px 4px rgba(0, 0, 0, 0.45) inset,
    4.505px 4.505px 0 1.502px #000;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
