/* Base Styles */
.title-how {
  padding: 0.9375rem 0;
  position: relative;
  z-index: 6;
  left: -5%;
  width: 110%;
  transform: rotate(3deg);
  transform-origin: right;
  border-top: 0.5rem solid #000;
  border-bottom: 1rem solid #000;
  background: linear-gradient(
    270deg,
    #0b2873 0%,
    #225df5 46.25%,
    #0d2d7f 99.2%
  );
}

.how__title {
  position: relative;
  z-index: 999;
}

.title-how__container-mini {
  padding: 0 8%;
}

.title-how__container-mini span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0.0678em 0 #000;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8;
}

.title-how__container-mini span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 105%;
  aspect-ratio: 254 / 226;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.items-how {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.how__items {
  position: relative;
  z-index: 5;
}

.item-how {
  position: relative;
  display: flex;
}

.items-how__item {
  width: 100%;
  position: relative;
}

.item-how__decor {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(0, -50%);
  background-color: #225df5;
  filter: blur(100px);
}

.item-how__body {
  position: relative;
  z-index: 2;
  border-radius: 1.875rem;
  border: 0.3125rem solid #000;
  background: #fff;
  box-shadow:
    -11px -9px 4px rgba(0, 0, 0, 0.25) inset,
    7.667px 7.667px 0 #000;
}

.item-how__number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #225df5;
  border-radius: 50%;
  border: 0.25rem solid #000;
  box-shadow: -5px -10px 4px rgba(0, 0, 0, 0.45) inset;
  filter: drop-shadow(5px 7px 0 #000);
  transform: translate(50%, -50%);
}

.item-how__number span {
  color: #000;
  font-style: normal;
  font-weight: 600;
}

.item-how__header {
  display: flex;
  align-items: flex-start;
  column-gap: 0.625rem;
}

.item-how__title {
  flex: 1 1 auto;
  font-style: normal;
  font-weight: 600;
  line-height: 1.43;
}

.item-how__icon {
  flex: 0 0 30%;
  position: relative;
  max-width: 8.75rem;
}

.item-how__icon img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 120%;
  height: auto;
  object-fit: contain;
}

.item-how__text {
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

/* Media Queries */
@media (min-width: 93.125em) {
  .how {
    margin-top: -6.25rem;
  }

  .title-how__container-mini span {
    font-size: 7.375rem;
  }

  .page__how {
    padding-bottom: 3.75rem;
    padding-top: 5.625rem;
  }

  .items-how {
    gap: 9.375rem;
    padding-top: 7.5rem;
  }

  .item-how__body {
    padding: 5rem 2.5rem 3.75rem;
  }

  .item-how__number {
    height: 6.375rem;
    width: 6.375rem;
  }

  .item-how__number span {
    font-size: 4.25rem;
  }

  .item-how__header {
    margin-bottom: 1.5625rem;
  }

  .item-how__title {
    font-size: 2rem;
  }

  .item-how__text {
    font-size: 1.5625rem;
  }
}

@media (min-width: 61.99875em) {
  .items-how__bg {
    display: block;
    position: absolute;
    top: -10%;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
  }
}

@media (min-width: 20em) and (max-width: 93.125em) {
  .how {
    margin-top: clamp(-6.25rem, 1.7094rem - 8.547vw, 0.0001rem);
  }

  .page__how {
    padding-bottom: clamp(2.5rem, 2.1581rem + 1.7094vw, 3.75rem);
    padding-top: clamp(2.5rem, 1.6453rem + 4.2735vw, 5.625rem);
  }

  .title-how__container-mini span {
    font-size: clamp(1.875rem, 0.3707rem + 7.5214vw, 7.375rem);
    margin-left: 100px;
  }

  .title-how__container-mini span::after {
    width: clamp(6.25rem, 3.6175rem + 13.1624vw, 15.875rem);
  }

  .items-how {
    padding-top: clamp(2.5rem, 1.1325rem + 6.8376vw, 7.5rem);
    gap: 3.75rem;
  }

  .item-how__body {
    padding: clamp(1.875rem, 1.3622rem + 2.5641vw, 3.75rem)
      clamp(0.9375rem, 0.5101rem + 2.1368vw, 2.5rem);
  }

  .item-how__number {
    height: clamp(3.25rem, 2.3953rem + 4.2735vw, 6.375rem);
    width: clamp(3.25rem, 2.3953rem + 4.2735vw, 6.375rem);
  }

  .item-how__number span {
    font-size: clamp(2.25rem, 1.703rem + 2.735vw, 4.25rem);
  }

  .item-how__header {
    margin-bottom: clamp(1.25rem, 1.1645rem + 0.4274vw, 1.5625rem);
  }

  .item-how__title {
    font-size: clamp(1.625rem, 1.5224rem + 0.5128vw, 2rem);
  }

  .item-how__text {
    font-size: clamp(1.25rem, 1.1645rem + 0.4274vw, 1.5625rem);
  }
}

@media (max-width: 47.99875em) {
  .how {
    margin-top: 1.25rem;
  }
  .items-how__bg {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .items-how {
    grid-template-columns: repeat(1, 1fr);
  }
}
