@media (min-width: 93.125em) {
  .page__hero {
    padding-top: 8.75rem;
  }
  .top-hero__content {
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
  .top-hero__lable {
    font-size: 4.5rem;
  }
  .top-hero__title {
    margin-bottom: 2.8125rem;
  }
  .top-hero__title span {
    font-size: 13rem;
  }
  .top-hero__text {
    margin-bottom: 2.8125rem;
    font-size: 1.25rem;
  }
  .button--big span {
    font-size: 2.0625rem;
  }
}

@media (max-width: 47.99875em) {
  .hero {
    min-height: 100svh;
  }
}

@media (max-width: 61.99875em) {
  .top-hero__container-mini {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top-hero__image {
    max-width: 22.5rem;
  }
  .top-hero__image img {
    max-width: 100%;
  }
  .top-hero__buttons {
    justify-content: center;
  }
}

@media (max-width: 29.99875em) {
  .top-hero__lable {
    margin-bottom: 1.25rem;
  }
  .top-hero__buttons {
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 93.125em) {
  @supports (
    padding-bottom: clamp(1.25rem, 0.2243589744rem + 5.1282051282vw, 5rem)
  ) {
    .top-hero__content {
      padding-bottom: clamp(1.25rem, 0.2243589744rem + 5.1282051282vw, 5rem);
    }
  }
  @supports (
    padding-top: clamp(1.25rem, 0.5662393162rem + 3.4188034188vw, 3.75rem)
  ) {
    .top-hero__content {
      padding-top: clamp(1.25rem, 0.5662393162rem + 3.4188034188vw, 3.75rem);
    }
  }
  @supports (
    font-size: clamp(2.25rem, 1.6346153846rem + 3.0769230769vw, 4.5rem)
  ) {
    .top-hero__lable {
      font-size: clamp(2.25rem, 1.6346153846rem + 3.0769230769vw, 4.5rem);
    }
  }
  @supports (
    margin-bottom: clamp(1.875rem, 1.6185897436rem + 1.2820512821vw, 2.8125rem)
  ) {
    .top-hero__title {
      margin-bottom: clamp(
        1.875rem,
        1.6185897436rem + 1.2820512821vw,
        2.8125rem
      );
    }
  }
  @supports (
    font-size: clamp(4.25rem, 1.8568376068rem + 11.9658119658vw, 13rem)
  ) {
    .top-hero__title span {
      font-size: clamp(4.25rem, 1.8568376068rem + 11.9658119658vw, 13rem);
    }
  }
  @supports (
    margin-bottom: clamp(2.5rem, 2.4145299145rem + 0.4273504274vw, 2.8125rem)
  ) {
    .top-hero__text {
      margin-bottom: clamp(2.5rem, 2.4145299145rem + 0.4273504274vw, 2.8125rem);
    }
  }
  @supports (
    font-size: clamp(1.125rem, 1.0908119658rem + 0.1709401709vw, 1.25rem)
  ) {
    .top-hero__text {
      font-size: clamp(1.125rem, 1.0908119658rem + 0.1709401709vw, 1.25rem);
    }
  }
  @supports (
    padding-top: clamp(6.25rem, 5.5662393162rem + 3.4188034188vw, 8.75rem)
  ) {
    .page__hero {
      padding-top: clamp(6.25rem, 5.5662393162rem + 3.4188034188vw, 8.75rem);
    }
  }
  @supports (
    font-size: clamp(1.625rem, 1.5053418803rem + 0.5982905983vw, 2.0625rem)
  ) {
    .button--big span {
      font-size: clamp(1.625rem, 1.5053418803rem + 0.5982905983vw, 2.0625rem);
    }
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__bg::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #161010;
}

.hero__bg img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.top-hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero__top {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.top-hero__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-hero__container-mini {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-hero__content {
  flex: 0 0 50%;
}

.top-hero__lable {
  color: var(--textWhite);
  font-style: normal;
  font-weight: 700;
}

.top-hero__title {
  display: inline-block;
}

.loaded .top-hero__title {
  animation: opacity 0.45s ease 0.8s forwards;
}

.loaded .top-hero__title span {
  animation: title-hero 0.3s ease 1.15s forwards;
}

.top-hero__title span {
  display: inline-block;
  position: relative;
  color: var(--textWhite);
  line-height: 0.8;
  transform-origin: left;
}

.loaded .top-hero__title span::before {
  animation: fall-down 0.3s ease-in-out 1s forwards;
}

.top-hero__title span::before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 75%;
  width: 30%;
  aspect-ratio: 1;
  background-image: url(../../../public/hero/decor1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.loaded .top-hero__text {
  animation: opacity 0.45s ease 1.4s forwards;
}

.top-hero__text {
  max-width: 31.625rem;
  color: var(--textWhite);
  line-height: 1.4;
}

.loaded .top-hero__buttons {
  animation: opacity 0.45s ease 1.4s forwards;
}

.top-hero__buttons {
  display: flex;
  gap: 1.25rem;
}

.button {
  flex-shrink: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.125rem;
  border: 0.1875rem solid var(--borderBlack);
  background-color: var(--bgBlue) !important;
  box-shadow: var(--shadow);
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-buy,
.btn-chart {
  font-size: 2.0625rem;
  flex-shrink: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.125rem;
  border: 0.1875rem solid var(--borderBlack);
  box-shadow: var(--shadow);
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.btn-chart {
  color: var(--textBlack);
  background-color: var(--bgBlue) !important;
}

.bottom-hero {
  position: relative;
  left: -5%;
  width: 110%;
  rotate: -3deg;
  transform-origin: left;
  border: 0.5rem solid var(--borderBlack);
  background: var(--bgGradient);
  box-shadow: 0 9px 0 0 #000;
}

.bottom-hero__container-mini {
  padding: 0 6%;
}

.bottom-hero__items {
  padding: 0.9375rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.9375rem;
}

.button span {
  position: relative;
  z-index: 2;
  color: var(--textWhite);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  white-space: nowrap;
}

.button--white {
  background-color: var(--textWhite);
}

.button--white span {
  color: var(--textBlack);
}

@keyframes opacity {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes title-hero {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fall-down {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6.25rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
